<!-- <app-header></app-header> -->
<app-header />
<!-- <app-user></app-user> -->
<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (custSelect)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (custSelect)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (custSelect)="onSelectUser($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (custSelect)="onSelectUser($event)" />
    </li>
  </ul>

  <app-tasks [userObj]="userObject"></app-tasks>
</main>
